/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}


input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ol {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: black;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*header*/

body {
    overflow-x: hidden;
}

body.block {
    overflow: hidden;
}

.container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.header {
    background-color: #0d4b8c;
    padding-bottom: 31px;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 29px;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo img {
    margin-right: 15px;
}

.header_logo__text h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    /* шрифт */

    color: #FFFFFF;
    margin-bottom: 15px;
}

.header_logo__text h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    /* шрифт */

    color: #FFFFFF;
}

.header_menu {
    background-color: #0d4b8c;
}

.header_content nav {
    display: flex;
    padding-bottom: 41px;
    padding-top: 26px;
}

.header_content nav ul {
    display: flex;
    justify-content: space-between;
}

.header_content nav ul li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    transition: all ease 0.3s;
    padding-bottom: 2px;
}

.header_content nav ul li a:hover {
    border-bottom: 2px solid #FFFFFF;
}

.header_content nav ul li {
    margin-right: 85px;
}

.header_content nav ul li:last-child {
    margin-right: 116px;
}

.header_content .phone_number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;
    position: relative;
}

.phone_number:before {
    content: '';
    background: url("../img/header/phone.svg") no-repeat;
    width: 23px;
    height: 26px;

    position: absolute;
    top: 2px;
    left: -38px;
}

.menu-social__lang {
    position: relative;
    margin-left: 48px;
    cursor: pointer;
}

.menu-social__lang-button {
    display: flex;
    align-items: center;
}

.menu-social__lang-button span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;
    margin-right: 12px;
}


.menu-social__lang-drop {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    max-height: 0;
    opacity: 0;
    transition: all ease-in-out 0.2s;
    visibility: hidden;
}

.menu-social__lang.active .menu-social__lang-drop {
    max-height: 100%;
    opacity: 1;
    visibility: visible;
}

.menu-social__lang.active .menu-social__lang-button img {
    transition: all ease 0.3s;
}

.menu-social__lang.active .menu-social__lang-button img {
    transform: rotate(180deg);
    transition: all ease 0.3s;
}

/*offer*/
.offers {
    margin-top: 128px;
    margin-bottom: 134px;
}

.offers_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 104px;
}

.offers_content__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: linear all 0.3s;
    width: 304px;
    height: 295px;
    margin-right: 70px;
    margin-bottom: 70px;
    background: #0D4B8C;
}

.offers_content__block:nth-child(7), .offers_content__block:nth-child(8), .offers_content__block:nth-child(9) {
    margin-bottom: 0;
}

.offers_content__block:nth-child(3), .offers_content__block:nth-child(6), .offers_content__block:nth-child(9) {
    margin-right: 0;
}

.offers_content__block span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 158.52%;
    /* or 32px */

    text-align: center;
    text-transform: uppercase;

    /* шрифт2 */

    color: #FFFFFF;
    transition: linear all 0.3s;
    margin-bottom: 56px;
    padding: 0 48px;
    align-self: center;
}

.offers_content__block:nth-child(8) a {
    margin-top: 35px;
}

.offers_content__block a {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 158.52%;
    /* identical to box height, or 29px */

    text-align: center;
    text-transform: capitalize;

    color: #0D4B8C;
    padding: 15px 35px;
    background: #FFFFFF;
    align-self: center;
    border: 1px solid transparent;
    transition: all ease 0.3s;
}

.offers_content__block a:hover {
    color: #FFFFFF;
    background: #0D4B8C;
    border: 1px solid #FFFFFF;
}

.offers .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offers_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* or 32px */

    text-align: center;
    color: #01101F;
    width: 930px;
    display: inline-block;
}

.offers_title strong {
    color: #FC0101;
    text-align: center;
}

.hidden_title {
    overflow: hidden;
    visibility: hidden;
}

/*work-time*/
.work_time {
    padding-top: 54px;
    padding-bottom: 82px;
    border-bottom: 1px solid rgba(1, 16, 31, 0.5);
    border-top: 1px solid rgba(1, 16, 31, 0.5);
}

.work_time__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 126.52%;
    /* or 44px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
    margin-bottom: 46px;
}

.work_time__content p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 126.52%;

    text-align: center;

    color: #01101F;
}

.work_time__content p:nth-child(2) {
    margin: 32px 0;
}

.work_time__content p strong {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* or 32px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
}

/*information*/
.information {
    padding-top: 72px;
    padding-bottom: 93px;
    border-bottom: 1px solid rgba(1, 16, 31, 0.5);
}

.information_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 126.52%;
    /* or 44px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
    margin-bottom: 85px;
}

.information_content {
    display: flex;
    justify-content: space-between;
    padding: 0 125px;
}

.information_content__left, .information_content__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information_content__left h3, .information_content__right h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
    margin-bottom: 35px;
}

.information_content__left a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
    position: relative;
    margin-left: 55px;
    transition: all linear 0.3s;
}


.information_content__left a:hover {
    color: #0D4B8C;
    transition: all linear 0.3s;
}

.information_content__left a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -56px;
    background: url("../img/information/phone_number.svg") no-repeat;
    width: 100%;
    height: 100%;
    transition: all ease 0.3s;
}

.information_content__left a:hover:before {
    background: url("../img/information/phone_number-after.svg") no-repeat
}

.information_content__left a:nth-child(3), .information_content__right a:nth-child(3) {
    margin-top: 33px;
    margin-bottom: 33px;
}

.information_content__right a {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 126.52%;

    /* шрифт2 */

    color: #01101F;
    position: relative;
    margin-left: 80px;
    transition: all ease 0.3s;
}

.information_content__right a:hover {
    color: #0D4B8C;
}

.information_content__right a:nth-child(2):before {
    position: absolute;
    top: -5px;
    left: -77px;

    content: '';
    background: url("../img/information/gmail_before.svg") no-repeat;
    width: 43px;
    height: 43px;
    background-size: contain;
    transition: all ease 0.3s;
}

.information_content__right a:nth-child(3):before {
    position: absolute;
    top: -5px;
    left: -75px;

    content: '';
    background: url("../img/information/vider_before.svg") no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
    transition: all ease 0.3s;
}

.information_content__right a:nth-child(4):before {
    position: absolute;
    top: -5px;
    left: -75px;

    content: '';
    background: url("../img/information/telegram_before.svg") no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
    transition: all ease 0.3s;
}


.information_content__right a:hover:nth-child(3):before {
    background: url("../img/footer/vider.svg") no-repeat;
    background-size: contain;
}


.information_content__right a:hover:nth-child(2):before {
    background: url("../img/information/gmail.svg") no-repeat;
    background-size: contain;
}

.information_content__right a:hover:nth-child(4):before {
    background: url("../img/information/telegram.svg") no-repeat;
    background-size: contain;
}


/*question*/

.questions {
    margin-top: 134px;
    margin-bottom: 133px;
}

.questions_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 126.52%;
    /* or 44px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
    margin-bottom: 57px;
}

.questions__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.accordion {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* or 32px */


    /* шрифт2 */

    color: #01101F;
    position: relative;
    background: transparent;
    padding-bottom: 15px;
    width: 582px;
    border-bottom: 1px solid #01101F;
    margin-left: 13px;
    margin-bottom: 50px;
    transition: all ease 0.3s;
}

.accordion.active {
    margin-bottom: 23px;
}

.accordion:last-child {
    margin-bottom: 0;
}

.accordion:before {
    content: '+';
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */


    /* шрифт */

    color: #FFFFFF;
    background: #0D4B8C;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    transition: all ease 0.3s;
}

.accordion.active:before {
    content: '-';
    transition: all ease 0.3s;
    padding-bottom: 3px;
}

.accordion_text {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */


    /* шрифт2 */

    color: #01101F;
    width: 570px;
    transition: all ease 0.3s;
    margin-left: 10px;
}

.accordion_text.active {
    visibility: visible;
    opacity: 1;
    max-height: 5000px;
    margin-bottom: 46px;
    transition: all ease-in-out 0.3s;
}

.questions_button {
    background: #0D4B8C;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */


    color: #FFFFFF;
    width: 334px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

.questions_button:hover {
    background: #0B3E75;
}

/*department*/

.department_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
}

.department_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 126.52%;
    /* or 44px */


    /* шрифт2 */

    color: #01101F;
    margin-bottom: 91px;
}

.departament_address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */


    /* шрифт2 */

    color: #01101F;
    display: flex;
    flex-direction: column;
}

.departament_address a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;

    /* акцент */
    text-decoration-line: underline;
    color: #0D4B8C;
    text-underline-offset: 8px;
    margin-top: 15px;
}

.departament_address a:hover {
    text-decoration-line: none;
}

.department_content__block_text ol li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */


    /* шрифт2 */

    color: #01101F;
    margin-bottom: 91px;
}

.department_content__block_text ol li:last-child {
    margin-bottom: 80px;
}

.departament_address a {
    opacity: 1;
    transition: all ease 0.3s;
}

.departament_address a.none {
    opacity: 0;
}

/*footer*/


.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background: #0D4B8C;
    padding-top: 64px;
    padding-bottom: 34px;
    width: 100%;
    margin-top: auto; /* Добавьте это свойство */
}

.footer_content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.footer_content__logo {
    display: flex;
    align-items: center;
}

.footer_content__logo img {
    margin-right: 15px;
    width: 107px;
    height: 101px;
}

.footer_content__text h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    /* шрифт */

    color: #FFFFFF;
    margin-bottom: 15px;
    width: 115%;
}

.footer_content__text h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    /* шрифт */

    color: #FFFFFF;
}

.footer_content__contact ul li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */

    text-align: center;

    /* шрифт */

    color: #FFFFFF;
    position: relative;
    margin-left: 80px;
}

.footer_content__contact ul li {
    margin-bottom: 24px;
}

.footer_content__contact ul li:last-child {
    margin-bottom: 0;
}

.footer_content__contact ul li:nth-child(1) a:before {
    position: absolute;
    top: -5px;
    left: -77px;
    content: '';
    background: url('../img/header/phone.svg') no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
}

.footer_content__contact ul li:nth-child(2) a:before {
    position: absolute;
    top: -5px;
    left: -77px;
    content: '';
    background: url('../img/footer/vider.svg') no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}

.footer_content__contact ul li:nth-child(3) a:before {
    position: absolute;
    top: -5px;
    left: -77px;
    content: '';
    background: url('../img/information/telegram.svg') no-repeat;
    width: 38px;
    height: 38px;
    background-size: contain;
}

.footer_content__copyrite {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    /* шрифт */

    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*popup_offer*/

.popup_offer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.4s;
    z-index: 10010;
}

.popup_offer.active {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.popup_offer__content {
    background: rgba(226, 235, 244, 1);
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    position: relative;
    transition: all ease 0.4s;
}

.popup_offer.active .popup_offer__content {
    width: 614px;
    height: 568px;
    visibility: visible;
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup_offer__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;

    /* шрифт2 */

    color: #01101F;

    margin-bottom: 45px;
    margin-top: 50px;
    text-align: center;
    padding: 0 80px;
}

.popup_offer__title strong {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;

    /* шрифт2 */

    color: #01101F;
    text-transform: lowercase;
}

.popup_offer__close {
    position: absolute;
    top: 31px;
    right: 35px;
}

.popup_offer__close img {
    width: 20px;
    height: 20px;
}

.popup_offer__content_form {
    display: flex;
    flex-direction: column;
}

.up__text_label.comment {
    margin-top: 18px;
}

.up__text_label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    /* акцент */

    color: #0D4B8C;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 30px;
}

.hidden_label {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
}

.uname, .uphone {
    background: #FFFFFF;
    width: 397px;
    height: 66px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* акцент */

    color: #0D4B8C;
    padding: 0 26px;
}

.uname {
    margin-bottom: 15px;
}

.uname::placeholder, .uphone::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* акцент */

    color: #0D4B8C;
}

.button_offer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 158.52%;
    /* identical to box height, or 29px */

    text-transform: capitalize;

    /* шрифт */

    color: #FFFFFF;
    background: #0D4B8C;
    width: 214px;
    height: 63px;
    transition: all ease 0.3s;
    margin-top: 44px;
}

.wrapper__btn_from {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button_offer:hover {
    background: #0B3E75;
}

/*popup-thanks*/

.popup_thanks {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.4s;
    z-index: 10100;
}

.popup_thanks.active {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.popup_thanks__content {
    background: rgba(226, 235, 244, 1);
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    position: relative;
    transition: all ease 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup_thanks.active .popup_thanks__content {
    width: 614px;
    height: 568px;
    visibility: visible;
    opacity: 1;
}

.popup_thanks__content h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    /* шрифт2 */

    color: #01101F;
}

.popup_thanks__content p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    /* шрифт2 */

    color: #01101F;
    margin-top: 13px;
    padding: 0 97px;
}

.popup_thanks__close img {
    width: 20px;
    height: 20px;
}

.popup_thanks__close {
    position: absolute;
    top: 39px;
    right: 46px;
}

/*popup-fast*/

.popup_fast {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(226, 235, 244, 1);
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.4s;
    transform: translate(-50%, 200%);
    z-index: 1000;
}

.popup_fast.container {
    width: 1300px;
}

.popup_fast.active {
    width: 100%;
    height: 190px;
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}


.popup_fast__content {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all ease 0.4s;

    display: flex;
    justify-content: center;
    flex-direction: column;
}


.numberInput {
    width: 82px;
    height: 64px;
    outline: 0;

    position: relative;
    border: 1px solid #CCC;
    border-radius: 3px;
    overflow: hidden;
}

.numberInput input {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #FFFFFF;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */

    padding-left: 22px;
    /* акцент */

    color: #0D4B8C;
}

.numberInput input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */


    /* акцент */

    color: #0D4B8C;
}

.arrow {
    height: 50%;
    width: 16px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    margin: 0 9px;
}

.arrow:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    transform: translate(-50%, -50%);
}

.arrow:hover {
    background: transparent;
}

.arrow:active {
    background: transparent;
}

.arrow.down {
    bottom: 0;
    top: auto;
}

.arrow.up:after {
    border-bottom: 5.5px solid rgba(13, 75, 140, 1);;
}

.arrow.down:after {
    border-top: 5.5px solid rgba(13, 75, 140, 1);;
}

.arrow.up:active:after {
    border-bottom: 5.5px solid rgba(13, 75, 140, 1);;
}

.arrow.down:hover:after {
    border-top: 5.5px solid rgba(13, 75, 140, 1);;
}

.arrow:hover:after {
    border-top-color: rgba(13, 75, 140, 1);;
    border-bottom-color: rgba(13, 75, 140, 1);;
}

.hours::-webkit-outer-spin-button,
.hours::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text_time, .text_time b {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 126.52%;

    /* шрифт2 */

    color: #01101F;
    width: 208px;
}

.text_time b {
    display: inline-block;
    margin-top: 14px;
}

.text_time {
    margin-right: 86px;
}

.phone_fast {
    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* акцент */

    color: #0D4B8C;
    padding: 0 26px;
    width: 273px;
    height: 63px;
    margin-right: 113px;
}

.phone_fast::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    /* акцент */

    color: #0D4B8C;
}

.button_offer__fast {
    background: #0D4B8C;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 158.52%;
    /* or 29px */


    /* шрифт */

    color: #FFFFFF;

    width: 273px;
    height: 64px;
    transition: all ease 0.3s;
}

.button_offer__fast:hover {
    background: #0B3E75;
}

.popup_fast__content_form {
    display: flex;
}

.numberInput.minutes {
    margin-right: 86px;
    margin-left: 28px;
}

.popup_fast__close img {
    width: 20px;
    height: 20px;
}

.popup_fast__close {
    position: absolute;
    top: 22px;
    right: 0;
}

/*popup_question*/

.popup_question {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.4s;
    z-index: 1010;
}

.popup_question.active {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.popup_question__content {
    background: rgba(226, 235, 244, 1);
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    position: relative;
    transition: all ease 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup_question.active .popup_question__content {
    width: 614px;
    height: 620px;
    visibility: visible;
    opacity: 1;
}


.question_phone {
    display: inline-block;
    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* акцент */

    color: #0D4B8C;
    width: 397px;
    height: 66px;
    padding: 0 26px;
    position: relative;
}

.phone_validate_question, .phone_validate_offer, .phone_validate_fast {
    position: relative;
    display: flex;
    flex-direction: column;
}

.phone_validate_question:after, .phone_validate_offer:after {
    content: '';
    background: url("../img/popups/validate_arrow.svg") no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 23px;
    left: 359px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

.phone_validate_fast:after {
    content: '';
    background: url("../img/popups/validate_arrow.svg") no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 23px;
    left: 238px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

.phone_validate_question.active:after, .phone_validate_offer.active:after, .phone_validate_fast.active:after {
    opacity: 1;
    visibility: visible;
}


.no_validate {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #FC0101;
    text-align: left;
    padding-top: 0;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}

.phone_validate_question.active .no_validate, .phone_validate_offer.active .no_validate, .phone_validate_fast.active .no_validate {
    padding-top: 13px;
    opacity: 1;
    visibility: visible;
    max-height: 100%;
}

.question_phone::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* акцент */

    color: #0D4B8C;
}

.question_comment {
    width: 397px;
    height: 174px;
    /* шрифт */

    background: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* акцент */

    color: #0D4B8C;


    padding-top: 17px;
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 37px;
    resize: none;
}

.question_comment::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    /* акцент */

    color: #0D4B8C;

}

.popup_question__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;

    /* шрифт2 */

    color: #01101F;
    margin-bottom: 39px;
}

.button_offer__question {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 158.52%;
    /* identical to box height, or 29px */

    text-transform: capitalize;

    /* шрифт */

    color: #FFFFFF;
    background: #0D4B8C;
    width: 214px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

.button_offer__question:hover {
    background: #0B3E75;
}

.popup_question__close img {
    width: 21px;
    height: 21px;
}

.popup_question__close {
    position: absolute;
    top: 33px;
    right: 46px;
}


/*about page*/

.about__title {
    margin-top: 68px;
    margin-bottom: 41px;
}

.about__title h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 126.52%;
    /* or 44px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
    margin-bottom: 21px;
}

.about__title h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
}

.about_information:last-child .about_information__content ul li:last-child {
    margin-bottom: 68px;
}

.about_information:last-child .about_information__content ul li {
    border-bottom: 1px solid #01101F;
}

.about__title_topic h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 126.52%;
    /* or 38px */


    /* шрифт */
    color: #FFFFFF;
    padding: 32px 0;
}

.about__title_topic {
    width: 100%;
    background: #0D4B8C;
}

.about_information__content_elem {
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #01101F;
}

.about_information__content_elem:last-child {
    border-bottom: 1px solid transparent;
}

.about_information__content ul li span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */

    /* шрифт2 */

    color: #01101F;
    width: 400px;
}

.about_information__content ul li p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */


    /* шрифт2 */

    color: #01101F;
}

.about_information__content_elem a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */


    /* шрифт2 */

    color: #01101F;
}

.about_information_content_main, .about_information_content_ul {
    display: flex;
    flex-direction: column;
}

.about_information_content_main span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */


    /* шрифт2 */

    color: #01101F;
    margin-bottom: 30px;
}

.about_information_content_main strong {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */


    /* шрифт2 */

    color: #01101F;
    margin-bottom: 28px;
}

.about_information__content__column {
    display: flex;
    flex-direction: column;
}


.about_information__content_ul__content li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 182.02%;
    /* or 36px */


    /* шрифт2 */

    color: #01101F;
    list-style: disc;
}

.about_information__content_ul__content {
    margin-left: 33px;
}

.wrapper {
    position: relative;
}

.phone_button {
    position: fixed;
    bottom: 55px;
    right: 55px;
    animation: pulse 1s infinite;
    transform-origin: center;
    z-index: 1000;
    background: #0D4B8C;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px rgba(226, 235, 244, 0.2);
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_button img {
    width: 43px;
    height: 43px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*services*/
.services_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services_title h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 126.52%;
    /* or 44px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
    margin-top: 66px;
    margin-bottom: 64px;
}

.services_title h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 126.52%;
    /* or 38px */

    text-align: center;

    /* шрифт2 */

    color: #01101F;
    margin-bottom: 65px;
    width: 950px;
}

.services_content {
    display: flex;
    flex-direction: column;
}

.services_content__form {
    display: flex;
    justify-content: space-between;
}

.services_content__form_input {
    display: flex;
    flex-direction: column;
}

.services_content__form_input h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */


    /* шрифт2 */

    color: #01101F;
    margin-bottom: 35px;
    text-align: center;
}

.services_content__form_input {
    position: relative;
}

.services_content__form_input input {
    display: inline-block;
    background: #0D4B8C;
    width: 305px;
    height: 78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */
    color: #FFFFFF;
    position: relative;
    z-index: 0;
    padding-left: 20px;
    padding-right: 48px;
}

.services_content__form_input::after {
    content: '';
    position: absolute;
    top: 94px;
    right: 18px;
    background: url("../img/services/find_out.svg");
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 100;
}

.services_content__form_input input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */


    /* шрифт */

    color: #FFFFFF;
}

.services_content__post li {
    border-bottom: 1px solid rgba(1, 16, 31, 0.5);
    padding: 40px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services_content__post li:last-child {
    margin-bottom: 68px;
}

.services_content__post li p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */


    /* шрифт2 */

    color: #01101F;
    width: 560px;
}

.services_content__post li span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */


    /* шрифт2 */

    color: #01101F;
}

.services_content__post li span:last-child {
    margin-right: 110px;
}

.download_services {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 67px;
}

.download_services a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */

    text-underline-offset: 6px;
    text-align: center;
    text-decoration-line: underline;

    /* акцент */

    color: #0D4B8C;
}


.download_services a:hover {
    text-decoration-line: none;
}

/*documents*/
.documents {
    padding-bottom: 172px;
}

.documents_title {
    /* заголовок */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 126.52%;
    /* or 44px */

    text-align: center;

    color: #000000;
    padding-bottom: 54px;
    padding-top: 76px;
    border-bottom: 1px solid rgba(1, 16, 31, 0.5);
}

.documents_content__post h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */


    color: #000000;
    margin-top: 47px;
    margin-bottom: 53px;
}

.documents_content__post ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
    margin-bottom: 76px;
}

.documents_content__post ul li:last-child {
    margin-bottom: 0;
}

.documents_content__post ul li p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 126.52%;
    /* or 25px */


    color: #000000;
    width: 646px;
}

.documents_content__post ul li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 126.52%;
    /* identical to box height, or 32px */

    text-underline-offset: 6px;
    text-decoration-line: underline;
    /* акцент */

    color: #0D4B8C;
    transition: all ease 0.3s;
}

.documents_content__post ul li a:hover {
    text-decoration-line: none;
}


/*media requests*/


@media (max-width: 1300px) {
    .container {
        width: 1100px;
    }

    /*header*/
    .header_content nav ul li a, .header_content .phone_number {
        font-size: 20px;
        line-height: 20px;
    }

    .header_content nav ul li {
        margin-right: 65px;
    }

    .phone_number:before {
        background-size: contain;
        width: 17px;
        height: 20px;
        left: -30px;
    }

    .header_content nav ul li:last-child {
        margin-right: 90px;
    }

    .menu-social__lang-button span {
        font-size: 20px;
        line-height: 20px;
        margin-right: 8px;
    }

    .menu-social__lang-button img {
        width: 17px;
        height: 10px;
    }

    .header_content nav {
        padding-bottom: 35px;
        padding-top: 25px;
    }

    /*about*/

}

@media (max-width: 1120px) {
    .container {
        width: 980px;
    }

    /*header*/
    .header_content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_content nav ul li a, .header_content .phone_number {
        font-size: 19px;
        line-height: 19px;
    }

    .header_content nav ul li {
        margin-right: 45px;
    }

    .phone_number:before {
        background-size: contain;
        width: 14px;
        height: 16px;
        left: -25px;
    }

    .header_content nav ul li:last-child {
        margin-right: 75px;
    }

    .menu-social__lang-button span {
        font-size: 19px;
        line-height: 19px;
        margin-right: 6px;
    }

    .menu-social__lang-button img {
        width: 17px;
        height: 10px;
    }

    .header_content nav {
        padding-bottom: 35px;
        padding-top: 25px;
    }

    /*about*/

}

@media (max-width: 1000px) {
    .container {
        width: 768px;
    }

    /*header*/
    .header_content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_content nav ul li a, .header_content .phone_number {
        font-size: 17px;
        line-height: 17px;
    }

    .header_content nav ul li {
        margin-right: 25px;
    }

    .phone_number:before {
        background-size: contain;
        width: 14px;
        height: 16px;
        left: -25px;
    }

    .header_content nav ul li:last-child {
        margin-right: 75px;
    }

    .menu-social__lang-button span {
        font-size: 17px;
        line-height: 17px;
        margin-right: 6px;
    }

    .menu-social__lang-button img {
        width: 17px;
        height: 10px;
    }

    .header_content nav {
        padding-bottom: 35px;
        padding-top: 25px;
    }

    .header_logo img, .footer_content__logo img{
        width: 90px;
        height: 84px;
    }

    .header_logo__text h1, .footer_content__text h1 {
        font-size: 35px;
    line-height: 35px;
        margin-bottom: 10px;
    }

    .header_logo__text h2, .footer_content__text h2 {
        font-size: 20px;
        line-height: 20px;
    }

    /*about*/
}

@media (max-width: 788px) {
    .container {
        width: 100%;
    }

    /*about*/

}